@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body{
        background-color: @Model.Settings.BackgroundColor;

    }
    h1 {
        color: @Model.Settings.FontColor;
        font-size: @Model.Settings.FontSize;
    }
</style>

<div class="text-center">
    <h1 class="display-4">@Model.Settings.Message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
